body {
    background-color: #495c42;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

#content {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff5f3;
}

nav, footer {
    background-color: #c6aba5;
    padding: 20px;
    text-align: center;
}

nav a {
    padding: 20px;
    color: #fff5f3;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
}

nav a:hover {
    background-color: #eabeb6;
    color: white;
}

#main-topic {
    color: #794444;
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 50px auto;
    border: 4px solid #794444;
    box-sizing: border-box;
    border-radius: 15px;
}

p {
    background-color: #4d5b45d1;
    color: #fff5f3;
    padding: 0 30px;
    line-height: 2em;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}


#body-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    margin-top: 15px;
}

footer p {
    color: #fff5f3;
}

footer a {
    color: #443030;
}
