@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lilita+One&family=Outfit&family=DynaPuff:wght@500&family=Gluten:wght@600&display=swap');

#about-content {
    max-width: 1800px;
    margin: 0 auto;
    font-family: Chewy, Lilita One, Outfit;
    letter-spacing: .25px;
    font-size: 1.15em;
    word-spacing: .1em;
    letter-spacing: .05em;
}

.logo {
    width: 100px;
    padding: 10px 20px;
    opacity: 90%;
    transition: transform 1s;
}

.logo:hover {
    opacity: 100%;
    transform: scale(1.1);
}
header {
    background-color: #eca36f26;
    border-radius: 10px;
}

nav {
    display: flex;
    float: right;
    justify-content: space-around;
}

.header-nav a {
    text-align: center;
    color: #a6571b; 
    font-size: 1.3em;
    text-decoration: none;
    font-family: DynaPuff;
    padding: 15px;
    border-radius: 15px;
}

.nav-box {
    padding: 10px;
    margin-top: 50px;
    margin-right: 10px;
}

.nav-etsy a {
    background-color: #a6571b;
    color: white;
}

nav a:hover {
    background-color: white;
}

.nav-etsy a:hover{
    background-color: #a6571bbe;
}

.banner-img {
    width: 100%;
    opacity: 90%;
    border-radius: 10px;
}

#aboutme-section {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 150px);
    color: #eca46f;
}

#welcome-header {
    color: #a6571b;
    font-size: 1em;
    text-align: center;
    margin-top: 80px;
    font-family: DynaPuff;
    grid-column: 1/6;
    grid-row: 1/2;
}

#bio {
    grid-column: 1/7;
    grid-row: 2/4;
    margin-left: 50px;
    margin-top: 20px;
}

#signed-name {
    color: #a6571b;
    grid-column: 6/9;
    grid-row: 3/5;
    margin-top: 10px;
}

#selfie {
    grid-column: 7/10;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#selfie img {
    width: 300px;
    border-radius: 60%;
}

hr {
    border: 1.5px solid #eca46f;
    width: 90%;
    border-radius: 15px;
    margin-top: -290px;
    margin-bottom: 100px;
}

.heading {
    color: #a6571b;
    font-family: DynaPuff;
    grid-column: 1/2;
    margin-left: 50px;
    margin-bottom: 40px;
}

.question {
    background-color: #a6571b;
    color: white;
    padding: 15px;
    width: 97.5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 1px;
    font-size: 1.2em;
    border-radius: 15px;
}

.active, .question:hover {
    background-color: #eca46f; 
}

.answer {
    padding: 0 15px;
    background-color: white;
    display: none;
    overflow: hidden;
    color: #eca46f;
    margin: 1px;
}

#contact-further {
    color: #eca46f;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    align-items: center;
    margin-top: 50px;
}

#contact-description {
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
    background-color: #eca36f26;
    color: #eca46f;
    border-radius: 15px;
    padding: 25px 150px;
    box-shadow: 5px 5px 5px 5px #eca36f3c;
}

#email-img, #insta-img {
    grid-column: 2/3;
    justify-self: left;
}

#insta-img {
    margin-left: 20px;
    margin-bottom: 50px;
    grid-row: 2/3;
}

#email-img {
    grid-row: 1/2;
    margin-top: 50px;
}

#email-img img {
    width: 100px;
    transition: transform 1s;
}

#email-img img:hover, #insta-img img:hover {
    transform: scale(1.2);
}


#insta-img img {
    width: 60px;
    transition: transform 1s;
}

#insta-handle, #email-address {
    grid-column: 2/4;
    justify-self: center;
    margin-right: 150px;
}

#email-address {
    grid-row: 1/2;
    margin-top: 50px;
}

#insta-handle {
    grid-row: 2/3;
    margin-bottom: 50px;
}

footer {
    background-color: #a6571b;
    color: white;
    font-family: DynaPuff;
    margin-top: 100px;
    padding: 20px 20px 20px;
    border-radius: 15px;
}

.footer-logo img {
    width: 180px;
    opacity: 90%;
    transition: transform 1s;
}

.footer-logo img:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: -100px;
}

.footer-nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    margin: 20px;
}

.footer-nav ul li {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer ul li a:hover {
    color: #f2c2a4;
}

.footer-social {
    display: flex;
    justify-content: right;
    margin-top: -160px;
}

.footer-social img {
    width: 50px;
    opacity: 90%;
}

.footer-social img:hover {
    opacity: 100%;
}

.footer-email {
    display: flex;
    justify-content: right;
    margin-top: -20px;
    margin-bottom: 50px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

.footer-copyright:hover{
    text-decoration: underline;
}
