@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lilita+One&family=Outfit&family=DynaPuff:wght@500&family=Gluten:wght@600&display=swap');

#patterns-content {
    max-width: 1800px;
    margin: 0 auto;
    font-family: Chewy, Lilita One, Outfit;
    letter-spacing: .25px;
    font-size: 1.15em;
    word-spacing: 3px;
}

.logo {
    width: 100px;
    padding: 10px 20px;
}

header {
    background-color: #eca36f26;
    border-radius: 10px;
}

nav {
    display: flex;
    float: right;
    justify-content: space-around;
}

.header-nav a {
    text-align: center;
    color: #a6571b; 
    font-size: 1.3em;
    text-decoration: none;
    font-family: DynaPuff;
    padding: 15px;
    border-radius: 15px;
}

.nav-box {
    padding: 10px;
    margin-top: 50px;
    margin-right: 10px;
}

.nav-etsy a {
    background-color: #a6571b;
    color: white;
}

nav a:hover {
    background-color: white;
}

.nav-etsy a:hover{
    background-color: #a6571bbe;
}

.banner-img {
    width: 100%;
    opacity: 90%;
    border-radius: 10px;
}

/* all other content CSS in here! */

#pattern-intro {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #f2c2a4;
}

hr {
    border: 1.5px solid #eca46f;
    width: 90%;
    border-radius: 15px;
    margin-bottom: 150px;
}

#pattern-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px 2fr;
}

#materials h3 {
    color: #a6571b;
    text-align: center;
}

#abreviations h3 {
    color: #a6571b;
    text-align: center;
}

#icecream-patterncover-img img{
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #a6571b16;
    border: #f2c2a4 solid 15px;
}

#icecream-patterncover-img {
    justify-self: center;
    align-self: center;
}

.list {
    color: #f2c2a4;
    justify-self: center;
}

#icecream-heading {
    color: #a6571b;
    font-family: DynaPuff;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

#begin-written-pattern {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    color:#a6571b;
}

#end-written-pattern {
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: center;
    color:#a6571b;
}

#begin-written-pattern p:hover, #end-written-pattern p:hover {
    color: #f2c2a4;
}

#background-color {
    background-color: #eca36f3c;
    grid-column: 1/4;
    grid-row: 3/4;
    border-radius: 15px;
    width: 75%;
    height: 500px;
    justify-self: center;
    margin-top: -10px;
    margin-right: -50px;
    box-shadow: 5px 5px 5px 5px #a6571b16;
}

/* pattern images and instagram handles */


.pattern-images img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.pattern-images {
    margin-top: -200px;
    margin-bottom: 200px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: #a6571b;
}

.img-container {
    width: 80%;
    background-color: #eca36f3c;
    box-shadow: 5px 5px 5px 5px #a6571b16;
    margin-bottom: 25px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
}


#pattern-bottom-hr {
    margin-top: -100px;
}


/* instagram, stay connected */

#social img {
    width: 60px;
    opacity: 95%;
    display: flex;
    justify-self: center;
    margin-right: 500px;
    transition: transform 1s;
}

#stay-connected p {
    color: #f2c2a4;
    display: flex;
    justify-self: center;
    margin-left: 300px;
    margin-top: -40px;
}

#stay-connected {
    margin-bottom: 250px;
}

#social img:hover{
    opacity: 100%;
    transform: scale(1.2);
}

footer {
    background-color: #a6571b;
    color: white;
    font-family: DynaPuff;
    margin-top: 150px;
    padding: 20px 20px 20px;
    border-radius: 15px;
}

.footer-logo img {
    width: 180px;
    opacity: 90%;
    transition: transform 1s;
}

.footer-logo img:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: -100px;
}

.footer-nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    margin: 20px;
}

.footer-nav ul li {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer ul li a:hover {
    color: #f2c2a4;
}

.footer-social {
    display: flex;
    justify-content: right;
    margin-top: -160px;
}

.footer-social img {
    width: 50px;
    transition: transform 1s;
    opacity: 90%;
}

.footer-social img:hover {
    opacity: 100%;
    transform: scale(1.25);
}

.footer-email {
    display: flex;
    justify-content: right;
    margin-top: -20px;
    margin-bottom: 50px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

.footer-copyright:hover{
    text-decoration: underline;
}
